<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/feat.css">
    <title>Feats</title>
</head>
<body>
    <main>
        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if feat is missing, fill out the form to add it to the database.</p>
            <label for="feat">Search for Feat by Name:</label>
            <input type="text" id="feat" name="feat" value="Feat">
            <button type="submit" class="submit">Search Feat</button>
        <h1>Feats</h1>
        <ul>
            <% feats.forEach( el => { %>
                <li class="feat" data-id='<%=el._id%>'>
                    <div class="column">
                        <div class="row">
                            <span class="feats-label">Feat:</span>
                            <span><%= el.feat %></span>
                        </div>
                        <div class="row">
                            <span class="feats-label">Ability:</span> 
                            <span><%= el.prerequisite %></span>
                        </div>
                        <div class="row">
                            <span class="feats-label">Description:</span>
                            <span><%= el.description %></span>
                        </div>
                        <div class="row">
                            <span class="feats-label">Combat Feat:</span> 
                            <span><%= el.combatFeat %></span>
                        </div>
                    </div>
                </li>
           <% }) %>
        </ul>
        <form id="featForm">
            <div class="form-column">
                <div class="form-row">
                    <label for="featName">Feat:</label>
                    <input type="text" id="featName" name="featName">
                </div>
                <div class="form-row">
                    <label for="featPrerequisite">Prerequisites:</label>
                    <input type="text" id="featPrerequisite" name="featPrerequisite">
                </div>
                <div class="form-row">
                    <label for="featDescription">Description:</label>
                    <input type="text" id="featDescription" name="featDescription">
                </div>
                <div class="form-row">
                    <label for="combatFeat">Combat Feat?</label>
                    <input type="checkbox" id="combatFeat" name="combatFeat">
                </div>
                    <button class="submit">Submit</button>
            </div>
        </form>
    </main> 
    <script src="/js/feat.js"></script> 
</body>
</html>