<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/race.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>Races</title>
</head>
<body>
   
        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if race is missing, fill out the form to add it to the database.</p>
        <div class="form-wrapper">  
        <form method="GET">
                <label for="findRace">Search for Race by Name:</label>
                <input type="text" id="findRace" name="findRace">
                <input type="submit" class="submit">
           </form>
        </div> 
        <h1>Races</h1>
        <ul>
            <% races.forEach( el => { %>
                <li class="race" data-id='<%=el._id%>'>
                    <div class="column">
                        <div class="row">
                            <span class="races-label">Race:</span>
                            <span><%= el.race %></span>
                        </div>
                        <div class="row">
                            <span class="races-label">Ability Modifiers:</span> 
                            <span><%= el.abilityModifiers %></span>
                        </div>
                        <div class="row">
                            <span class="races-label">Hit Points:</span>
                            <span><%= el.hitPoints %></span>
                        </div>
                        <div class="row">
                            <h3>Traits</h3>
                            <% el.traits.forEach( trait => { %>
                                <div class="row">
                                <span class="trait-name races-label">Name:</span>
                                <span><%= trait.name %></span>
                            </div>
                            <div class="row">
                                <span class="trait-description races-label">Description:</span>
                                <span><%= trait.description %></span>
                            </div>
                                <% }) %>                    
                        </div>
                    </div>
                </li>
           <% }) %>
        </ul>
        <div class="form-wrapper bottom">
        <h2>Create a Race</h2>
        <form id="raceForm">
            <div class="form-column">
                <div class="form-row">
                    <label for="raceName">Race:</label>
                    <input type="text" id="raceName" name="raceName">
                </div>
                <div class="form-row">
                    <label for="abilityModifiers">Ability Modifiers:</label>
                    <input type="text" id="abilityModifiers" name="abilityModifiers">
                </div>
                <div class="form-row">
                    <label for="hitPoints">Hit Points:</label>
                    <input type="number" id="hitPoints" name="hitPoints">
                </div>




                <div>
                    <h3>Add Traits</h3>
                    <ul id="traitList">
                
                    </ul>
                    <input type="text" id="traitName"><br>
                    <textarea id="traitDescription" cols="30" rows="4"></textarea>
                    <button type="button" id="addTrait">Add Trait</button>
                </div>
              




                    <button class="submit">Submit</button>
            </div>
        </div>
        </form>
    <script src="/js/race.js"></script> 
</body>
</html>