<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/spell.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>Spells</title>
</head>
<body>

        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if spell is missing, fill out the form to add it to the database.</p>
        <div class="form-wrapper">   
        <form method="GET">
                <label for="findSpell">Search for Spell by Name:</label>
                <input type="text" id="findSpell" name="findSpell">
                <input type="submit" class="submit">
           </form>
        </div>
        <h1>Spells</h1>
        <ul>
            <% spells.forEach( el => { %>
                <li class="spell" data-id='<%=el._id%>'>
                    <div class="column">
                        <div class="row">
                            <span class="spells-label">Spell:</span>
                            <span><%= el.spell %></span>
                        </div>
                        <div class="row">
                            <span class="spells-label">Class:</span> 
                            <span><%= el.class %></span>
                        </div>
                        <div class="row">
                            <span class="spells-label">Level:</span>
                            <span><%= el.level %></span>
                        </div>
                        <div class="row">
                            <span class="spells-label">Description:</span> 
                            <span><%= el.description %></span>
                        </div>
                        <div class="row">
                            <span class="spells-label">Notes:</span> 
                            <span><%= el.notes %></span>
                        </div>
                    </div>
                </li>
           <% }) %>
        </ul>
        <div class="form-wrapper bottom">
        <h2>Create a Spell</h2>
        <form id="spellForm">
            <div class="form-column">
                <div class="form-row">
                    <label for="spellName">Skill:</label>
                    <input type="text" id="spellName" name="spellName">
                </div>
                <div class="form-row">
                    <label for="spellClass">Class:</label>
                    <input type="text" id="spellClass" name="spellClass">
                </div>
                <div class="form-row">
                    <label for="spellLevel">Level:</label>
                    <input type="number" id="spellLevel" name="spellLevel">
                </div>
                <div class="form-row">
                    <label for="spellDescription">Description:</label>
                    <input type="text" id="spellDescription" name="spellDescription">
                </div>
                <div class="form-row">
                    <label for="spellNotes">Notes:</label>
                    <input type="text" id="spellNotes" name="spellNotes">
                </div>
                    <button class="submit">Submit</button>
            </div>
        </div>
        </form>
    <script src="/js/spell.js"></script> 
</body>
</html>