<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>Themes</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Theme</a></li>
                <li><a href="#">Race</a></li>
                <li><a href="#">Class</a></li>
                <li><a href="#">Feat</a></li>
                <li><a href="#">Skill</a></li>
                <li><a href="#">Spell</a></li>
            </ul>
        </nav>
    </header>

        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if theme is missing, fill out the form to add it to the database.</p>
        <div class="form-wrapper">   
        <form method="GET">
                <label for="findTheme">Search for Theme by Name:</label>
                <input type="text" id="findTheme" name="findTheme">
                <input type="submit" class="submit">
           </form>
        </div>
        <h1>Themes</h1>
        <ul>
            <% themes.forEach( el => { %>
                <li class="theme" data-id='<%=el._id%>'>
                    <div class="column">
                        <div class="row">
                            <span class="themes-label">Theme:</span>
                            <span><%= el.theme %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Ability:</span> 
                            <span><%= el.ability %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Description:</span>
                            <span><%= el.description %></span>
                        </div>
                        <div class="row">
                            <h3>1st Level</h3>
                            <span class="themes-label">Name:</span> 
                            <span><%= el.firstLevel.name %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Description:</span>
                            <span><%= el.firstLevel.description %></span>
                        </div>
                        <div class="row">
                            <h3>6th Level</h3>
                            <span class="themes-label">Name:</span> 
                            <span><%= el.sixthLevel.name %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Description:</span>
                            <span><%= el.sixthLevel.description %></span>
                        </div>
                        <div class="row">
                            <h3>12th Level</h3>
                            <span class="themes-label">Name:</span> 
                            <span><%= el.twelfthLevel.name %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Description:</span>
                            <span><%= el.twelfthLevel.description %></span>
                        </div>
                        <div class="row">
                            <h3>18th Level</h3>
                            <span class="themes-label">Name:</span> 
                            <span><%= el.eighteenthLevel.name %></span>
                        </div>
                        <div class="row">
                            <span class="themes-label">Description:</span>
                            <span><%= el.eighteenthLevel.description %></span>
                        </div>
                    </div>
                </li>
           <% }) %>
        </ul>
        <div class="form-wrapper bottom">
        <h2>Create a Theme</h2>
        <form id="themeForm">
            <div class="form-column">
                <div class="form-row">
                    <label for="themeName">Theme:</label>
                    <input type="text" id="themeName" name="themeName">
                </div>
                <div class="form-row">
                    <label for="themeAbility">Ability:</label>
                    <input type="text" id="themeAbility" name="themeAbility">
                </div>
                <div class="form-row">
                    <label for="themeDescription">Description:</label>
                    <input type="text" id="themeDescription" name="themeDescription">
                </div>
                <div class="form-row">
                    <h3>1st Level</h3>
                    <label for="firstLevelName">Name:</label>
                    <input type="text" id="firstLevelName">
                </div>
                <div class="form-row">
                    <label for="firstLevelDescription">Description:</label>
                    <textarea id="firstLevelDescription" cols="30" rows="4"></textarea>
                </div>
                <div class="form-row">
                    <h3>6th Level</h3>
                    <label for="sixthLevelName">Name:</label>
                    <input type="text" id="sixthLevelName">
                </div>
                <div class="form-row">
                    <label for="sixthLevelDescription">Description:</label>
                    <textarea id="sixthLevelDescription" cols="30" rows="4"></textarea>
                </div>
                <div class="form-row">
                    <h3>12th Level</h3>
                    <label for="twelfthLevelName">Name:</label>
                    <input type="text" id="twelfthLevelName">
                </div>
                <div class="form-row">
                    <label for="twelfthLevelDescription">Description:</label>
                    <textarea id="twelfthLevelDescription" cols="30" rows="4"></textarea>
                </div>
                <div class="form-row">
                    <h3>18th Level</h3>
                    <label for="eighteenthLevelName">Name:</label>
                    <input type="text" id="eighteenthLevelName">
                </div>
                <div class="form-row">
                    <label for="eighteenthLevelDescription">Description:</label>
                    <textarea id="eighteenthLevelDescription" cols="30" rows="4"></textarea>
                </div>
                    <button class="submit">Submit</button>
            </div>
        </div>
        </form>
    

    <script src="/js/theme.js"></script> 
</body>
</html>